
<html>
    <head>
        <title>API v1.0</title>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <h1>API Mode 2 page</h1>
        <h4> Mode 2 - Receive live sensor data and execute: sensordata <h4>
        <form method="POST" action="/mode2"> 
            <label for="dictionary">Large Dictionary:</label><br>
            <textarea name="dictionary" rows="10" cols="50"></textarea><br>
            <input type="submit" value="Submit">
        </form>
        

    </body>
</html>